.brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.60rem 1.875rem;
    gap: 1.875rem;
}

.brandName {
    text-align: left;
    vertical-align: top;
    font-size: 18px;
    line-height: 26%;
    color: #000000;
}

.separatorLine {
    transform: rotate(-90deg);
    height: 0px;
    width: 26px;
    border: 0.0625rem solid #000000;
}
