/* Main CSS file */

:root {
    /* Color palette, taken directly from the Figma file */
    --primary: #9E30FF;
    --dark: #280C40;
    --secondary: #4F1880;
    --other: #4F1880;
    --other2: #8F2CE6;
    --lila: #E6CAFF;
}